/************************************************
	FILE:	Starlight_styles.css
	THEME:	Starlight
	FOR:	#559
	BY:	#559
************************************************/

/************************************************
	Settings
************************************************/

/** Imported Styles ***********/
@import url("https://biwhaleshark.github.io/Mweor/base/resets.css");
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://biwhaleshark.github.io/Mweor/base/slider.css");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

/** Variables *****************/
:root {
	--white: #ffffff;
	--black: #000000;

	--dkteal: #003b43;
	--color6: #cfd3d4;

	--font-family-1: "Poiret One", cursive;
	--font-family-2: "Arial", sans-serif;

	--text-dark: var(--black);
	--text-light: var(--white);

	--link-dark: var(--text-dark);
	--link-light: var(--text-light);
	--header-dark: var(--text-dark);
	--header-light: var(--text-light);

	--border: 1px solid #ffffff75;

	--bg-color: var(--dkteal);
	--bg-image: 
		linear-gradient(
		120deg,
		transparent 60%,
		#0010184d 60%,
		#001018 75%,
		#441416 75%,
		#441416d1 80%,
		transparent 80%
	);
	--bg-repeat: null;
	--bg-size: null;
	--bg-attachment: fixed;

	--contentholder-bg: transparent;
	--descbox-bg: var(--white);
	--descbox-img: url("https://cdn.discordapp.com/attachments/933495595858022420/973424363695140864/insp17.jpg");

	--corner-gradient: 
		linear-gradient(
		135deg,
		#00262f 0%,
		#00262f 8%,
		#681312 8%,
		#681312 12%,
		transparent 12%
	);
	--border-radius-small: 10px;
	--border-radius-big: 15px;

	--slider-height: 190px;
	--slider-header-size: 2.5vw;
	
	--holder-width: 90%;
	--descbox-width: 100%;
	
	--holder-margin: 3rem 0;
	--descbox-margin: 1rem 0;
	--descbox-padding: 1rem;	
}

/************************************************
	Resets
************************************************/

/** Optional Hidden ***********/
.titlebar,
#titletxt,
.add_small_margins,
#reportplayer,
#cattery_infobox,
#cattery_menu,
#cattery_descbox i:last-child,
form .add_marigns,
.breed_count {
	display: none;
}

body {
	background-color: var(--bg-color) !important;
	background: var(--bg-image);
	background-repeat: var(--bg-repeat);
	background-size: var(--bg-size);
	font-size: 16px !important;
	background-attachment: var(--bg-attachment);
}

body,
#holder {
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#holder {
	background: transparent;
	position: relative;
	width: 100%;
}

#content {
	background: var(--contentholder-bg);
	padding: 0;
	margin: var(--holder-margin);
	width: var(--holder-width);
	left: 0;
}

#contentholder {
	width: 100%;
	margin: 0;
	left: 0;
}

#cattery_descbox {
	width: var(--descbox-width);
	height: fit-content !important;
	float: none;
	right: unset;
	padding: var(--descbox-padding);
	margin: var(--descbox-margin);
	background-color: var(--descbox-bg) !important;
	box-shadow: 5px 5px 8px #001e27;
	border-radius: var(--border-radius-big);
	outline: var(--border);
	background: var(--descbox-img);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
}

#cattery_infobox {
	background: transparent;
	padding: 0;
	float: none;
	left: 0;
}

.titlebar {
	width: 100%;
	margin: 0;
}

#titletxt {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.add_small_margins {
	margin: 0;
}

/* Link Defaults */
a,
a:link,
a:visited {
	color: var(--link-dark);
	font-weight: bold;
}

a:hover,
a:link:hover,
a:visited:hover {
	text-decoration: underline;
	color: var(--link-dark) !important;
}

/* Buttons */
.button, .button_tall {
	color: var(--link-light);
	border-color: var(--link-light);
}
	

/* Mweor Tabs */
#mweor_tabs {
	border-radius: 15px;
}

.tab_paging {
	width: 100%;
	margin: 0 10px 10px 0px;
}

.ui-tabs {
	padding: 0;
}

.ui-tabs .ui-tabs-nav li {
	margin: 0px;
}

.ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-default {
	background: var(--color6);
	border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
	border: 2px solid transparent;
	border-bottom-width: 0px;
}

.ui-widget-content {
	border: none;
	outline: var(--border);
	border-radius: var(--border-radius-big);
}

.login_reward_box {
	outline: var(--border);
	border: 0px solid transparent;
	background: var(--descbox-bg);
	border-radius: var(--border-radius-big);
}

.login_rewards .active,
.login_rewards .received {
	background: var(--color6); 
}

.login_rewards > div {
	border: 0px solid transparent;
}

.ui-widget-header {
	background: url("https://cdn.discordapp.com/attachments/933495595858022420/982490399337754624/layout_horizontal.png");
	background-size: cover;
	background-position: center;
	border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
	border: 0px solid transparent;
	color: transparent;
}

.ui-tabs .ui-tabs-nav {
	padding: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background: var(--descbox-bg) !important;
	border-radius: 14px 14px 0 0;
}

.ui-tabs .ui-tabs-nav li a {
	background: transparent;
}

.text_medium {
	display: initial !important;
}

.button,
.button_tall {
	background: #003b43 !important;
	border-color: #003b43 !important;
}
.button:hover,
.button_tall:hover {
	color: var(--link-light);
	background: #001417 !important;
	border-color: #001417 !important;
}

/* Cattery Setting Box */
#contentholder form center .tborder {
	width: 100% !important;
}

/************************************************
	Styles
************************************************/

/* masthead */
.masthead {
	width: 40%;
	line-height: 0;
	height: 100%;
	display: inline-block;
}

.masthead-wrap {
	position: absolute;
	top: 10%;
	left: 16%;
	width: 25%;
	background: var(--descbox-bg);
	border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.masthead-wrap::before {
	width: 100%;
	height: 100%;
	background: var(--corner-gradient);
	position: absolute;
	content: '';
	outline: var(--border);
	border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.profile-picture {
	width: 100%;
	padding: 10px;
}

.utilities {
	display: flex;
	justify-content: space-evenly;
	margin: 0 10%;
	z-index: 1;
	position: relative;
}

.utilities a,
.utilities span {
	  font-size: 2vw;
	  padding: 0px 5px 10px 5px;
}

.utilities img {
	width: auto;
	height: 2.1vw;
	padding: 0px 2px 2px 2px;
}

/* navigation */
.header {
 	display: flex;
 	justify-content: flex-end;
}
.nav {
	width: fit-content;
	display: flex;
	justify-content: space-evenly;
}
.nav a {
	padding: 1vw 1.2vw;
	font-family: var(--font-family-1);
	font-weight: bold;
	font-size: 2vw;
}

.cattery-name {
	font-size: 5vw;
	font-family: var(--font-family-1);
	line-height: 5vw;
	margin: 0.5rem 0;
	font-weight: 900;
}

.intro {
	background: #001a1e30;
	text-align: center;
	width: 70%;
	margin: auto !important;
	padding: 10px !important;
	border-bottom: 1.5px solid #001b21;
	font-style: italic;
}

.intro span {
	font-size: 1rem;
	font-weight: 100;
}

.main-wrap {
	width: 60%;
	height: fit-content;
	float: right;
	position: relative;
	overflow-y: auto;
	background-color: var(--descbox-bg);
}

.cattery-name,
.main-wrap p {
	margin: 0 50px;
	padding: 10px 0 0;
}

/* badges */
.item_box {
	background: var(--corner-gradient);
	background-color: var(--descbox-bg);
	outline: var(--border);
	border-radius: var(--border-radius-small);
	margin: 32px 10px;
}

/* dev testing */
:root {
	--holder-width: 90%;
	--descbox-width: 100%;

	--holder-margin: null;
	--descbox-margin: 2rem 0 2rem 0;
	--descbox-padding: 0;

}

/* messagebox */
#mpopup {
	background: var(--descbox-img);
	color: transparent;
	margin: auto;
	left: unset !important;
}

#popupclose {
	color: var(--link-light);
}

#mpopup .theader {
  background: var(--color6);
  color: var(--text-dark) !important;
}

.trow2, .trow2 table, .trow2 tr, .trow2 td {
  background: var(--color6);
}

input[type="text"],
textarea {
	font-family: var(--font-family-2) !important;
}
