/*************************************************************
	Abyss Skin Mweor Theme
	created by #559
*************************************************************

**********************************************
	Variables
*********************************************/

/**	Font Imports **************/

/**	Variables    **************/
:root {
    --white: #ffffff;
    --grey0: #c8c9ca;
    --grey20: #3f4248;
    --grey40: #2f3136;
    --grey60: #282A2E;
    --grey80: #212327;
    --grey100: #16171b;
    --black: #000000;
    --transBlack: #00000045;
    --blue: #293573;

    --bgColor: var(--grey80);
    --bgGradient: linear-gradient(180deg, var(--blue) 0%, var(--grey80) 40%);

    --font:	'Arial';
    --fontSize: 14px;
    --lineHeight: 16px;
    --txtDefault: var(--grey0);
}

/*********************************************
	General Resets
**********************************************/
#topbanneri, #bodyi, #bottombanneri, .titlebar {
    display: none !important;
}
html * {
    font-family: var(--font) !important;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
}
body {
    background: var(--bgGradient);
    background-color: var(--bgColor);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#holder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -7px;
}
#content {
    background: var(--grey40);
    width: 950px;
    border-left: 3px solid var(--black);
    border-right: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
    border-radius: 0px 0px 8px 8px;
    color: var(--grey0);
}
#contentholder {
    width: 100%;
    left: 0px;
}
.titlebar {
    width: auto;
    margin: 0px 10px;
    margin-bottom: 20px;
}
#titleimg {
    width: 930px;
    filter: brightness(2);
    height: auto;
}
#titletxt {
    color: var(--grey0);
    left: 80px;
}
img {
    border-color: transparent !important;
}
.button, .button_tall {
    background: var(--blue) !important;
    color: var(--white) !important;
}
footer,
#footer{
    color: var(--txtDefault) !important;
}

/**********************************************
	Header
**********************************************/
#topbanner {
    width: 85%;
    height: auto;
    margin-top: 50px;
    background: transparent;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
#layoutuinfo, 
#gametime {
    color: var(--grey0);
    top: 0px;
    left: 0px;
    position: relative;
}
#layoutuinfo {
    background: var(--grey100);
    padding: 15px 0px 15px 50px;
    width: 970px;
    border-radius: 35px;
    border: 3px solid var(--black);
}
#gametime {
    padding: 5px;
    background: var(--transBlack);
    width: 940px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
}
#addbookmark {
    right: 33px;
    top: 35px;
    filter: brightness(100);
}
body .ui-tooltip {
    color: var(--txtDefault) !important;
    background: var(--grey60) !important;
    box-shadow: 0px 0px var(--black) !important;
}

/**********************************************
	Navigation
**********************************************/
.sf-menu {
    right: 130px;
    top: 105px;
    left: unset;
}
.sf-menu a,
.sf-menu a:link, 
.sf-menu a:visited {
    color: var(--grey0) !important;
}
.sf-menu a:hover,
.sf-menu li a:hover,
.sf-menu li.sfHover,
.sf-menu a:focus,
.sf-menu a:active {
    color: var(--white) !important;
}
.sf-menu ul,
.sf-menu li li {
    background: var(--grey80) !important;
}
.sf-menu li li:hover, .sf-menu li li.sfHover {
    background: var(--grey40) !important;
    color: var(--white) !important;
}
.ui-state-focus {
    color: var(--grey0) !important;
    background: var(--grey60) !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    filter: invert(1) !important;
}
/**********************************************
	Forums
**********************************************/
.trow1 a img.trans,
.trow2 a img.trans {
    border-radius: 0px;
    width: initial;
    height: auto;
}
.trow1,
.trow1 table,
.trow1 tr,
.trow1 td {
    background: var(--grey20);
    color: var(--grey0);
}
.trow2,
.trow2 table,
.trow2 tr,
.trow2 td {
    background: var(--grey60);
    color: var(--grey0);
}
.gradbkg {
    border: 0px solid transparent !important;
    background-color: var(--grey20);
}

/**********************************************
	Cattery
**********************************************/
#cattery_infobox {
    background: transparent;
    color: var(--grey0);
}
.ui-widget-content {
    background: var(--grey40);
}
#cattery_infobox .add_small_margins,
#cattery_infobox .add_small_margins img {
    border: 0px solid transparent !important;
}
#cattery_descbox {
    width: 80%;
    background: transparent;
    color: var(--grey0);
}
.tab_paging {
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-color: var(--white);
}
.mweorbox .text_medium.add_small_margins {
    word-break: break-all;
}
.mweorbox,
.mweorbox.tall {
    height: 185px;
}
.ui-widget-header {
    background: var(--grey60) !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: var(--grey40) !important;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: var(--grey80);
    border: 0px solid transparent;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited,
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: var(--white);
}
.ui-widget-content {
    border: 0px solid transparent;
}

/**********************************************
	Mweor Profiles
**********************************************/
#mweor_gender_breed .breed_lesser,
#mweor_gender_breed .breed_munchkin,
#mweor_gender_breed .breed_longhair,
#mweor_gender_breed .breed_air,
#mweor_gender_breed .breed_earth,
#mweor_gender_breed .breed_fire,
#mweor_gender_breed .breed_water,
#mweor_gender_breed .breed_lightning,
#mweor_gender_breed .breed_plant,
#mweor_gender_breed .breed_ice {
    color: var(--white);
}
.good_bkg {
    background: var(--blue);
    color: var(--white);
}
#mweor_sidebox .title, .combat_sidebox .title {
    color: var(--white);
}
#mweor_sidebox {
    width: 55%;
}
#mweor_sidebox .plain_table {
    width: 100% !important;
}
.ctitle {
    color: var(--white);
}
#mweorinfo {
    width: 99% !important;
    margin: 0px !important;
}
.itemholder {
    background: var(--grey60);
    height: 50px
}
.lineage div {
    margin:auto !important;
    background:orange; 
}
#mweor_sidebox .sub {
    width: 29.5%;
}
.itemholder center .tborder {
    width: auto;
}
/**********************************************
	Inventory
**********************************************/
.ui-widget-content {
    color: white !important;
}
.ui-widget-content .ui-widget-header {
    color: var(--txtDefault) !important;
}
.popupi {
    border-color: transparent !important;
    color: var(--txtDefault) !important;
    background: var(--grey20) !important;
}
#item_dialog div center div .tborder {
    width: initial;
}
.chosen-container-single .chosen-single {
    background: var(--grey40);
    color: white;
    border-color:black;
    background-image: none;
}
.chosen-container-active.chosen-with-drop .chosen-single {
    background: var(--grey40);
}

/**********************************************
	Shop
**********************************************/
#purchases form center,
#purchases center i {
    color: var(--txtDefault);
}
#inventory form .trow1 {
    width: 18% !important;
    height: 220px !important;
}

/**********************************************
	Notifications
**********************************************/

#eventtxt {
    background: var(--grey40);
    height: auto;
}
#eventtxt tbody div {
    color: var(--grey0) !important;
}
.login_reward_box {
    border: 0px solid transparent;
}
.login_reward_title {
    display: none;
}
.login_rewards .active{
    border: 2px solid transparent;
    background: var(--grey20) !important;
}
.login_rewards .received,
.login_rewards .upcoming{
    opacity: 1;
    border: 2px solid transparent;
    background: var(--grey60);
}

/**********************************************
	Games
**********************************************/
#map_popup {
    background: var(--grey20);
}
#map_popup .status_text_text {
    background: var(--grey40);
}
#map_popup .status_text_text span {
    color: var(--white) !important;
}
#map_popup #status_links {
    color: var(--txtDefault);
}
#map_popup .mweor_attack,
#map_popup .enemy_attack{
    color: var(--txtDefault);
}
#map_popup .point_gain {
    color: var(--white) !important;
}

/**********************************************
	Arbor Village
**********************************************/
.plot .time_remaining_formatted,
.garden_response {
    color: var(--txtDefault);
}
.lore {
    margin: 0px;
}

/**********************************************
	Misc
**********************************************/
.fa {
    font-family: initial !important;
}
.ui-button-text-only .ui-button-text {
    color: var(--txtDefault);
}
ul.report_menu .current {
    background: var(--blue);
}
ul.report_menu .current a {
    color: var(--white);
}
ul.report_menu a {
    border: 0px;
}
ul.report_menu li {
    border: 1px solid var(--grey20);
}
ul.report_menu li:hover {
    background: var(--grey40);
}
ul.report_menu a:hover {
    color: var(--white);
}
.first_holder,
.second_holder,
.third_holder{
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul > li.sortable_holder {
    width: 23%;
}
ul.sortable li {
    color: var(--txtDefault);
}
.ci_notice, #notice {
    background: var(--blue);
    color: var(--white);
    text-align: center;
}
.formholder {
    background: var(--grey40);
    border-color: transparent !important;
    width: 100% !important;
    left: 0px !important;
    padding: 0px;
    border: 0px solid transparent;
}
.tborder {
    border-color: transparent;
    width: 90%;
}
.theader, table.info_table tr {
    background: var(--grey80);
}
table.info_table th {
    color: var(--grey0);
}
table.info_table td, table.info_table th {
    border: 2px solid var(--grey20);
}
table, tr, td {
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
}
a {
    color: var(--grey0);
}
.trow3, .trow3 table, .trow3 tr, .trow3 td {
    background: var(--grey40);
    color: var(--grey0);
}
div[style="text-align: center;"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newscontainer {
    width: 90%;
    left: 0px;
    margin: auto;
}
.good {
    color: var(--white);
}
#directory {
    left: 201px !important;
    top: 200px !important;
    background-color: var(--grey40) !important;
    color: var(--white);
}
.side_link_holder {
    background: transparent;
}
.modbox_content {
    width: 75%;
}
.modbox_content .info_table {
    width: 100% !important;
}
#content {
    margin: auto;
}
#content h1, 
#content h3 {
    color: var(--white);
}
.modbox_content .describe,
.modbox_content span{
    color: var(--white) !important;
}
.trow1 .text_small,
.trow2 .text_small{
    color: var(--white) !important;
}
.side_link_holder {
    display: initial !important;
}
.flag {
    background: var(--blue) !important;
}
.commentbox {
    background: var(--grey60);
    border-color: var(--blue);
}

/* Friends List */
.gradbkg {
    left: 0px !important;
    width: 31% !important;
    height: 140px !important;
}
.gradbkg > div {
    height: 100% !important;
}

/* Input */
input[type="text"], input[type="password"], select, input[type="password"] {
    color: var(--txtDefault) !important;
    background: var(--grey20) !important;
}
textarea {
    background: var(--grey40);
    color: var(--txtDefault);
    width: 99%;
}
#accordion {
    flex-direction: column;
}
