<div id="navigation"><nav class="rspNav">
	<a href="/cattery.php">cattery</a>
	<a href="/explore.php">explore</a>
	<a href="/chat.php">chat</a>
	<a href="/news.php">news</a>
	<a href="/help.php">help</a>
	<a href="/logout.php">logout</a>
</nav></div>



<div id="descHolder"><div id="tabHolder"><div class="tabBox">
<div class="tabSingle"><input type="radio" id="tab1" name="tabgroup" checked>
<!-- EDIT: Tab 1 Title  ----------------------------------------->

	<label for="tab1">Tab 1</label>

<div class="content">
<!-- EDIT: Tab 1 Content ------------------------------------->

<img src="https://cdn.discordapp.com/attachments/801251379217039400/820508472709742592/leaf_divider.png" style="width:100%;">
	<p>developing a layout atm, sorry for the mess!<p>

<!-- End of Tab 1 Content ----------------------------------->
</div></div>



<div class="tabSingle"><input type="radio" id="tab2" name="tabgroup">
<!-- EDIT: Tab 2 Title ------------------------------------------>
	<label for="tab2">Tab 2</label>

<div class="content">
<!-- EDIT: Tab 2 Content ------------------------------------->    

<img src="https://cdn.discordapp.com/attachments/801251379217039400/820508472709742592/leaf_divider.png" style="width:100%;">
	<p>layout created by cerah #559<p>

<!-- End of Tab 2 Content ----------------------------------->
</div></div>



<div class="tabSingle"><input type="radio" id="tab3" name="tabgroup">
<!-- EDIT: Tab 3 Title  ----------------------------------------->
	<label for="tab3">Tab 3</label>

<div class="content">
<!-- EDIT: Tab 3 Content ------------------------------------> 

<img src="https://cdn.discordapp.com/attachments/801251379217039400/820508472709742592/leaf_divider.png" style="width:100%;">
	<p>layout created by cerah #559<p>

<!-- End of Tab 3 Content ----------------------------------->
</div></div></div></div>



<div id="linkHolder"><div id="links">
<!-- EDIT: Quick Links Title  --------------------------------->
	<div id="title">quick links</div>

<!-- EDIT: Quick Links Content ----------------------------->

	<p>
	<ul>
	<li><a href="/viewtopic.php?id=773364">guide to guides</a></li>
	<li><a href="/viewtopic.php?id=758156">my stalk list</a></li>
	</ul>
	</p>

<!-- End of Quick Links Content --------------------------->
</div>



<div id="notes">
<!-- EDIT: Notes Title  ----------------------------------------->

	<div id="title">notes</div>

<!-- EDIT: Notes Content ------------------------------------>

	<p>
	<ul>
	<li>list here</li>
	</ul>
	</p>
    
	<center>
	<p><b>shop restocks:</b></p>
	<p>00:05 -- 00:27-- 00:41 -- 00:54</p>
	</center>

<!-- End of Notes Content ----------------------------------->
</div></div></div>
<style>
@charset "utf-8";
/*************************************************************
	Responsive Base Layout
	Created by #559
	Last Updated: 00/00/0000
*************************************************************/

/*************************************************************
	Settings & Variables
*************************************************************/

/**	Font Imports	**************/
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/**	Variables		*****************/
:root {
    --cWhite:			#ffffff;
    --cGrey:			#808080;
    --cBlack:			#000000;

    --bgColor:			#555599;
    --bgImage:			url("https://cdn.discordapp.com/attachments/801251379217039400/912847564120924160/background.png");
    --borderColor:		 #7070b9;

    --headerTxt:		#0d083d;

    --font:				'Shadows Into Light', cursive;
    --emoji:			"\\1F33A";
}

/*************************************************************
	Reset Styles
*************************************************************/
.ci_notice, #bookmark, #bodyi, #topbanner, #topbanneri, #layoutuinfo, #gametime, #addbookmark, 
.sf-menu, #menu_holder, #titleimg, #bottombanner, #footer, .clearer, #cattery_descbox i:last-child, 
.tabBox .tabSingle [type=radio], .breed_count, .centered.spacer {
    display:			none !important;
}

body, #holder, #descHolder, #linkHolder, #cattery_infobox, .mweor_page, .space_below, #contentholder > div:first-child, #contentholder > .add_small_margins  {
    display:			flex !important;
	}
#contentholder > div:nth-child(2) {
    display: flex;
    }
body {
    background:		var(--bgColor);
    background-image:	var(--bgImage);
    background-size:		cover;
    background-repeat:	no-repeat;
	}
#holder {
        position:			relative;
        width:				100%;
    }
#content {
    background:		transparent;
	}
#contentholder {
    width:				100%;
    left:				0px;
    }
#contentholder .spacer {
    height:			0px;
    }
#contentholder .add_small_margins {
    margin-top:			20px;
	}
.titlebar {
    width:				auto;
    height:				40px;
    padding:			10px 10px 10px;
	}
#titleimg {
    top:				auto;
    left:				auto;
    width:				100%;
    height:				auto;
    position:			relative;
    filter:				var(--filter);
	}
#titletxt {
    font-size:			35px;
    height:			auto;
    width:				auto;
    top:				0px;
    left:				0.5vw;
    color:				var(--headertxt);
    background:		white;
    padding:			20px;
    border-radius:		150px;
    font-family:			var(--font);
	}
#titletxt::before, 
#linkHolder #links #title::before, 
#linkHolder #notes #title::before {
    content:			var(--emoji);
    padding-right:		5px;
	}
#navigation {
    position:			absolute;
    top:				-42px;
    z-index:			99999;
    right:				0px;
	}
.rspNav a {
    padding:			10px;
    font-size:			24px;
    color:				var(--headertxt);
    font-weight:			bold;
    font-family:			"Arial" sans-serif;
    background:		white;
    border-radius:		25px;
    margin:			0px 3px 0px;
    font-family:var(--font);
	}
#cattery_descbox {
    background:		transparent;
    overflow:			visible;
    width:				83%;
    right:				0px;
    height:				450px;
	}
#cattery_descbox div i {
    display:			initial !important;
	}
#descHolder {
    flex-direction:		row;
    height:				100%;
	}
#tabHolder {
    width:				70%;
    padding:			0px 5px 0px;
	}
#title {
    font-size:			18px;
    font-weight:			bold;
    line-height:			22px;
    font-family:var(--font);
	}
#linkHolder #notes, #linkHolder #links {
    overflow:			auto;
    background:		var(--cWhite);
    padding:			15px;
    border-radius:		30px;
	}
#cattery_infobox {
    width:				15%;
    left:				0px;
    top:				8px;
    flex-direction:		column;
    align-items:			center;
    border-radius:		30px;

	}
#cattery_infobox .add_small_margins {
    left:				0px !important;
	}
#cattery_infobox .add_small_margins img {
    border-radius:		50%;
	}
#cattery_infobox .plain_table {
    width:				100% !important;
	}
.item_box {
    width:				150px;
    height:				150px;
    margin:			5px;
    padding:			10px;
    border-radius:		50%;
    background-color:	white;
	}
.ui-widget-header {
    background:		var(--bgColor);
	}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background:		var(--cWhite);
	}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    background:		var(--borderColor);
    border-color:		var(--borderColor);
	}
.mweor_page {
    flex-direction:		row;
    flex-wrap:			wrap;
    justify-content:		center;
	}
.tab_paging {
    width:				100%;
	}
form {
    margin-top:			20px;
	}
form .tborder, 
.theader, 
tr.theader {
    border-color:		transparent;
    background:		var(--bgColor);
	}
.space_below {
    flex-direction:		row;
    flex-wrap:			wrap;
    justify-content:		center;
	}
#mpopup {
    background:		var(--bgColor);
    color:				var(--cWhite);
    position:			relative !important;
    top:				-1850px !important;
    left:				0px !important;
	}
.tborder {
    border-color:		transparent;
	}
#popupclose {
    color:				var(--cWhite);
}


.login_reward_box {
    background:		var(--cWhite);
    border-color:		transparent !important;
	}
.login_rewards > div {
    border-color:		transparent !important;
	}
.login_rewards .active, 
.login_rewards .received {
    background:		var(--bgColor);
	}
.login_rewards .active .reward_title , 
.login_rewards .received .reward_title {
    color:				var(--cWhite);
	}
.login_reward_title {
    color:				var(--cWhite);
	}
#contentholder > div:first-child, 
#contentholder > div:nth-child(2) {
    width:				100%;
    top:				0px;
    left:				0px !important;
    justify-content:		center;
	}
#contentholder > .add_small_margins {
    justify-content:		center !important;
    align-items:			center;
    background:		var(--cWhite);
    width:				17.5vw !important;;
    padding:			5px;
    border-radius:		30px;
    margin: 5px 0px;
	}
#contentholder > .add_small_margins::after {
    content:			"layout by #559";
}

.good_label:last-child {
    visibility:			hidden;
    width:				12px;
    height:				12px;
    padding:			0px;
	}

.fa.circle.active {
    visibility:			visible;
}
#reportplayer, .compose {
    padding:			0px 3px;
}

#cattery_infobox .add_small_margins, .ui-widget-content, .ui-widget-header, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .mweorbox table tbody tr td div {
    border-color:		transparent !important;
}


/* Tab controls */
.tabHolder {
	position:			relative;
	float:			left;
	background:		var(--cWhite);
	height:			100%;
	}
.tabBox {
	position:			relative;  
	clear:			both;
	margin:			0px 0px;
	height:			100%;
	width:			100% !important;
	text-align:		center;
	}
.tabSingle {
	padding:			0 10px;
	}
.tabBox .tabSingle {
	float:			left; 
	}
.tabBox .tabSingle label {
	position:			relative;
	padding:			10px;
	color:			var(--headerTxt);
	background:		var(--cWhite);
	font-weight:		bold;
	font-size:			16px;
	border-radius:		150px;
	}
.tabBox .content {
	position:			absolute;
	padding:			15px;
	top:				30px;
	bottom:			0px;
	right:			0px;
	left:				0px;
	height:			auto;
	width:			auto;
	overflow:			auto;
	background-color:	var(--cWhite);
	border-radius:		30px;
	}
.tabBox [type=radio]:checked ~ label {
	z-index:			2;
	background:		var(--cWhite);
	color:			var(--bgColor);
	}
.tabBox [type=radio]:checked ~ label ~ .content {
	z-index:			1;
}

/************************************************
	Small screens:   0px to 599px
************************************************/
@media all and (max-width: 640px) {
    #content {
        width: 100% !important;
        margin-top: 0px;
    }
    #contentholder, .titlebar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contentholder .add_small_margins {
        margin: 3px !important;
    }
    .titlebar {
        width: 90%;
    }
    .spacer {
        height: 80px;
    }
    .rspNav a {
        font-size: 3.4vw !important;
        margin: 0px !important;
    }
    #navigation {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 0px !important;
        right: 0px;
        margin: 25px 0px 35px;
    }
    #titletxt {
        width: 100%;
        position: relative;
        font-size: 16px !important;
        line-height: 18px !important;
        left: 0px;
    }
    #cattery_infobox {
        width: 90% !important;
        flex-direction: row;
        align-items: center;
    }
    #cattery_infobox .add_small_margins, #cattery_infobox .centered {
        display: none;
    }
    #cattery_infobox .plain_table,#cattery_infobox .cattery_menu {
        width: 50% !important;
    }
    #cattery_descbox {
        width: 95% !important;
        margin-bottom: 80px;
    }
    #tabHolder {
        padding: 0px 0px 10px !important;
    }
    #mweor_tabs {
        width: 100% !important;
    }

}

/*************************************************************
	Medium screens:    640px to 859px
*************************************************************/
@media screen and (max-width: 860px) {
    #content {
        width: 92vw;
    }
    #cattery_infobox {
        width: 22%;
    }
    #cattery_descbox {
        width: 75%;
    }
    #descHolder {
        flex-direction: column;
        margin-top: 15px !important;
    }
    #tabHolder {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
    }
    #linkHolder {
        width: 100%;
        flex-direction: row;
    }
    #linkHolder #notes {
        margin-left: 5px;
    }
    #linkHolder #links {
        margin-right: 5px;
    }
    #linkHolder #notes, #linkHolder #links {
        overflow: auto;
        padding: 15px;
        border-radius: 30px;
        width: 50%;
    }
    #titletxt {
        font-size: 2.2vw;
    }
    .rspNav a {
        font-size: 2vw;
    }
    form {
        width: 100% !important;
    }
    form .tborder {
        width: 100% !important;
    }
    .trow1, .trow1 table, .trow1 tr, .trow1 td {
        display: flex !important;
        flex-direction: column !important;
    }

}

/************************************************
	Large screens:     860px to 9999px
************************************************/
@media screen and (min-width: 860px) {
    body, #holder {
        margin:			0;
        align-items:			center;
        flex-direction:		column;
    }
    #content {
        width: 95vw;
        padding:			0px 0px 0px;
        margin-top:			10px;
        margin-bottom:		35px;
        left:				0px;
    }
    #cattery_infobox {
        width: 17.5vw;
    }
    #cattery_infobox #cattery_menu {
        display: initial;
    }
    #cattery_descbox {
        position: absolute;
        top: 63px;
        width: 75vw;
    }
    #descHolder {
        flex-direction: row;
        margin-top: 15px !important;
    }
    .tabHolder {
        position:			relative;
        float:				left;
        height:             100%;
        }
    #linkHolder {
        width: 30%;
        padding: 0px 5px 0px;
        display: flex;
        flex-direction: column;
    }
    #linkHolder #notes {
        height: 40%;
        margin-top: 10px;
    }
    #linkHolder #links {
        height: 60%;
        margin-top: 30px;
    }
    #linkHolder #notes, #linkHolder #links {
        overflow: auto;
        padding: 15px;
        border-radius: 30px;
    }
}

/* Message Popup Styles */
@media only screen and (max-width: 919px) {
    #mpopup {
        top: -2010px !important;
    }
}

@media only screen and (min-width: 920px) {
    #mpopup {
        top: -1850px;
    }
}

#contentholder > div:nth-child(7) > #titletxt {
    margin-top: 15px !important;
}
#contentholder > div:nth-child(6) > #titletxt {
    margin-top: 25px !important;
}
#mweor_tabs {
    margin-top: 30px;
}
</style>
