/** Variables *****************/
:root {
    --white: #ffffff;
    --black: #000000;

    --fontColor: var(--black);
    --font-family-1: Georgia, serif;
    --font-family-2: null;
}

html {
    scroll-behavior: smooth !important;
}

.tborder .trow3 br {
  display: none;
}

.title {
    font-family: var(--font-family-1);
    color: var(--fontColor);
    font-weight: bold;
    margin: 0 40px;
}

.prime-title,
.sec-title {
    text-align: right;
    position: relative;
}

.sec-title {
  font-size: 20px;
}

.prime-title {
    --font: 40px;
    font-size: var(--font);
    line-height: var(--font);
}

.section-title {
    --font: 22px;
    font-size: var(--font);
    line-height: var(--font);
}

.paragraph {
	margin: 16px 40px 16px 40px;
	font-size: 14px;
	line-height: 16px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
	margin: 20px 0;
}

.code {
	margin: 10px 40px 10px 70px;
	color: #fff;
	background: black;
	padding: 10px;
	border-radius: 10px;
	font-size: 14px;
	line-height: 18px;
}

.code span {
	color: #00E63A;
}

.tborder .trow3 .code br {
  display: initial !important;
}

.tborder .trow3 .code br:first-of-type {
  display: none !important;
}
