/** Variables *****************/
:root {
    --white: #ffffff;
    --black: #000000;

    --fontColor: var(--black);
    --font-family-1: Georgia, serif;
    --font-family-2: null;
}

html {
    scroll-behavior: smooth !important;
}

.tborder .trow3 br {
  display: none;
}

.title {
    font-family: var(--font-family-1);
    color: var(--fontColor);
    font-weight: bold;
    margin: 0 40px;
}

.prime-title,
.sec-title {
    text-align: right;
    position: relative;
}

.prime-title {
    --font: 40px;
    font-size: var(--font);
    line-height: var(--font);
}

.section-title {
    --font: 22px;
    font-size: var(--font);
    line-height: var(--font);
}

.paragraph {
	margin: 16px 40px 16px 40px;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
	margin: 20px 0;
}

.code {
  margin: 0 40px 0 80px
}
