@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
    --teal: #003b43;
}

#headerImg {
    width: 100%;
    height: 160px;
    overflow: hidden;
    margin: -14px 0px -26px 0px !important
}

#headerImg img {
    width: 100%;
    position: relative;
    top: -30px;
}

#shopSpacer {
    width: 100%;
    height: 0px;
    border-bottom: 2px solid var(--teal);
    text-align: center
}

#icon {
    font-size: 55px;
    background-color: #fff;
    color: var(--teal);
    position: relative;
    width: 70px;
    display: inline-block;
    z-index: 99999;
    height: 45px;
    top: -10px;
}

#columns {
    position: relative;
    columns: 3;
    margin: 0px 40px;
    z-index: 999999;
}

h1, h2, h3, h4, h5, h6 {
    text-align: right;
    position: relative;
    font-style: italic;
    font-family: "Poiret One", cursive;
    font-size: 15px;
    color: var(--teal);
}

h2 {
    font-size: 30px;
    margin: 20px 40px 20px 40px !important;
}

h3 {
    font-size: 24px;
    margin: 6px 40px 0px 40px !important;
}

h4 {
    font-size: 12px;
    margin: 11px 40px !important;
}

p {
    margin: -6px 40px !important
}
.center {
    text-align: center;
}

.cardContainer {
    width: 100%;
    height: 465px;
    overflow: auto;
}

.card {
    text-align: center;
    width: 49%;
    float: left;
}

.card a img {
    width: 100%;
}

#tabHolder {
    height: 535px;
    margin: -30px 0px !important;
}

.tabBox {
        position: relative;
        clear: both;
        margin: 0px 0px;
        height: 100%;
        width: 100% !important;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tabBox .tabSingle {
        padding: 0 10px;
        float: left;
    }

    .tabSingle input[type="radio"] {
        display: none;
    }

    .tabBox .tabSingle label {
        position: relative;
        padding: 5px;
        font-weight: bold;
        top: -7px;
        font-family: "Poiret One", cursive;
        font-size: 16px;
    }

    .tabBox .content {
        position: absolute;
        padding: 0px;
        top: 30px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        height: 497px;
        width: auto;
        overflow: auto;
        background-color: #fff;
        border: 0px solid transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tabBox [type=radio]:checked~label {
        z-index: 2;
        background: #fff;
        color: #000;
        border-bottom: 2px solid var(--teal);
    }

    .tabBox [type=radio]:checked~label~.content {
        z-index: 1;
    }

.tborder {
    border-color: transparent !important;
    width: 100% !important;
}

textarea {
    width: 90%
}

.sf-menu {
    left: 420px;
}

.closed, 
.open {
    text-decoration: underline;
    font-weight: bold;
}

.closed {
    color: #B11010;
}
  
.open {
    color: #006600;
}
