@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");

.fa-sparkles::before {
  color: purple;
  font-size: 16px;
}

.fa-candy-corn::before {
  color: darkorange;
  font-size: 16px;
}

.fa-envelope::before {
  color: blue;
  font-size: 16px;
}

.fa-wand::before {
  color: brown;
  font-size: 16px;
}

.fa-cauldron::before {
  color: green;
  font-size: 16px;
}
