.box {
	width: 100%;
	height: 330px;
	overflow-y: scroll;
	overflow-wrap: break-word;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.box br {
	display: none;
}

.box a {
	line-height: 0;
}

.box a img {
 	width: 100%;
}

h2 {
	margin: 0;
}

.bought {
	filter: grayscale(1);
	transition: ease 0.5s;
}
.bought:hover {
	filter: grayscale(0);
	transition: ease 0.5s;
}
