/************************************************
	FILE:	settings_responsive.css
	BY: 	#559

	makes cattery settings box responsive 
	on page resize & customizable
************************************************/

#contentholder form center .tborder {
	background: var(--descbox-bg-color);
}

.theader {
	background-color: var(--settings-bg-color);
}

.theader td {
	color: var(--settings-text-color);
}
