/************************************************
	FILE:	CSS_starter
	THEME:	NULL
	FOR:	USERID/TOPICID
	BY:		#559

	GOLIVE DELETE: called in HTML base file.
	main CSS file.
	calls:
	- reset file
	- fontawesome file
	- css componment files for layout
************************************************/

/************************************************
	Settings
************************************************/

/** Imported Styles ***********/
@import url("https://biwhaleshark.github.io/Mweor/base/resets.css");
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");

/** Components ****************/

/** Variables *****************/
:root {
	--white: #ffffff;
	--black: #000000;
	
	--holder-width: 90%;
	--descbox-width: 100%;
	
	--holder-margin: 3rem 0;
	--descbox-margin: 1rem 0;
	--descbox-padding: 1rem;	
}

/************************************************
	Resets
************************************************/

/** Optional Hidden ***********/
.titlebar,
#titletxt,
.add_small_margins,
#reportplayer,
#cattery_infobox,
#cattery_menu,
#cattery_descbox i:last-child,
form .add_marigns,
.breed_count {
	display: none;
}

body {
	background-color: var(--bg-color) !important;
	background: var(--bg-image);
	background-repeat: var(--bg-repeat);
	background-size: var(--bg-size);
	font-size: 16px !important;
}

body,
#holder {
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#holder {
	background: transparent;
	position: relative;
	width: 100%;
}

#content {
	background: var(--contentholder-bg);
	padding: 0;
	margin: var(--holder-margin);
	width: var(--holder-width);
	left: 0;
}

#contentholder {
	width: 100%;
	margin: 0;
	left: 0;
}

#cattery_descbox {
	overflow: unset;
	width: var(--descbox-width);
	height: 75vh;
	float: none;
	right: unset;
	padding: var(--descbox-padding);
	margin: var(--descbox-margin);
	background-color: var(--descbox-bg) !important;
}

#cattery_infobox {
	background: transparent;
	padding: 0;
	float: none;
	left: 0;
}

.titlebar {
	width: 100%;
	margin: 0;
}

#titletxt {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.add_small_margins {
	margin: 0;
}

/* Link Defaults */
a,
a:link,
a:visited {
	color: var(--cBlack);
}

/* Mweor Tabs */
.ui-widget-header {
	background: transparent;
}

.ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-default {
	background: transparent;
}

.button,
.button_tall {
	background: var(--cWhite);
	background-color: unset !important;
}

/* Cattery Setting Box */
#contentholder form center .tborder {
	width: 100% !important;
}

/************************************************
	Styles
************************************************/

/* masthead */
.masthead {
	width: 40%;
	line-height: 0;
	background: var(--descbox-img);
	height: 100%;
	display: inline-block;
	background-size: cover;
}

.masthead-wrap {
  position: absolute;
  top: 10%;
  left: 24%;
  width: 20%;
  outline: var(--pfp-border);
  background: var(--descbox-bg);
}

.profile-picture {
	width: 100%;
}

.utilities {
	display: flex;
	justify-content: space-evenly;
	margin: 0 10%;
}

.utilities a,
.utilities span {
	  font-size: 2vw;
	  padding: 0px 5px 10px 5px;
}

.utilities img {
	width: auto;
	height: 2.1vw;
	padding: 0px 2px 2px 2px;
}

/* navigation */
.header {
 	display: flex;
 	justify-content: flex-end;
}
.nav {
	width: fit-content;
	display: flex;
	justify-content: space-evenly;
}
.nav a {
	padding: 1vw 1.2vw;
	font-family: var(--font-family-1);
	font-weight: bold;
	font-size: 2vw;
}

.cattery-name {
	font-size: 2.7rem;
	  font-family: var(--font-family-1);
	  line-height: 2.7rem;
	  margin: 0.5rem 0;
	  font-weight: 900;
}

.intro {
	background: #001a1e30;
	text-align: center;
	width: 70%;
	margin: auto !important;
	padding: 10px !important;
}

.intro span {
  font-size: 1rem;
  font-weight: 100;
}

.main-wrap {
	width: 60%;
	height: 100%;
	float: right;
	position: relative;
	overflow-y: auto;
}

.cattery-name,
.main-wrap p {
	margin: 0 40px;
	padding: 10px 0 0;
}
