.slider {
  height: var(--slider-height);
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 12px 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #fff;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.5s linear forwards;
  animation: check 0.5s linear forwards;
  outline-color: #003b43;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  -webkit-transform: translateX(-75%);
  transform: translateX(-75%);
}
.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  padding: 1rem;
  margin: 0 50px;
  background: #001a1e30;
  text-align: center;
  border-top: 1.5px solid #001b21;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.slider__image { font-size: 2.7rem; }
.slider__caption {
  font-weight: 700;
  margin: 0 0 0.5rem;
  text-transform: lowercase;
  font-size: var(--slider-header-size);
  font-family: var(--font-family-1);
}
.slider__txt {
  color: var(--text-dark);
  padding: 2px 0 0 !important;
  margin: 0px !important;
  max-width: 100%;
}
.slider-column {
  column-count: 2;
}
